# Python
__pycache__/
*.egg-info/
.pytest_cache/
.ipynb_checkpoints

# Environments
.env
.venv

# Builds: PyInstaller, and each project's build folder (tests/images/*/build)
build/
dist/
src/dizher/_build.py

# IDE stuff
*.code-workspace
.vscode

# macOS
.DS_Store

# dizher
research/pairs/data/*
